@model  HomeViewModel

<h2 class="text-center">@Model.Title</h2>

@foreach (var slime in Model.Slimes)
{
    <div class="col-sm-3 col-lg-3 col-md-3">
        <div class="thumbnail" >
            <img src="@slime.ImageThumbnailUrl" alt="">
        <div class="caption">
            <h4 class="pull-right">@slime.Price.ToString("c")</h4>
        
        <h4>
           <a asp-controller="Home" asp-action="Details" asp-route-id="@slime.Id">@slime.Name</a>
        </h4>
        <p>@slime.ShortDescription</p>
    </div>
  </div>
</div>
}
